* {
    margin: 0;
    padding: 0;

}
spin

.titre-box{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    color: black;
    
    padding: 20px;
}
.titre{
    text-decoration: none;
    color: white;
    text-align: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    font-size: x-large;
}
.menu-link{
   color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
}
.menu-link:hover{
    border:3px black solid;
    background-color:gray;

}

.arriere-plan{

background-image: url("./images/télécharger.jfif");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.boite{
    background-color: white;
    margin: 25%;
    padding: 2rem;

}
.boite-texte{
    text-align: justify;
    margin-left:25% ;
    margin-right:25% ;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}
