*{
    margin: 0;
    padding: 0;
}
.spin{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}
.titre-box{                            
    background-color: rgb(252, 208, 208);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 40px;
 }
 .titre{
    text-decoration: none;
    color:white;
 }
 .menu{
    display: flex;
    justify-content: center;
    background-color: rgb(73, 246, 252);
    font-size: x-large;
 }
 .menu-link{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
 }
 .menu-link:hover{
    border: 3px rgb(52, 226, 232) solid;
    background-color: antiquewhite;
 }
 .arriere-plan {
    background-image: url("./fond\ blog.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .boite{
    background-color: white;
    margin: 25%;
    padding: 1rem;
 }
 .boite-texte{ 
    text-align: justify ;
    margin-left: 25%;
    margin-right: 25%;
    margin-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
 }
 .image{
    float: right;
    margin: 15px;
 }